<template>
  <!--begin::Header-->
  <div id="kt_header" style="" class="header align-items-stretch">
    <!--begin::Container-->
    <div class="d-flex align-items-stretch justify-content-between container-fluid">

      <!--begin::Logo-->
      <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
        <router-link to="/" class="">
          <img alt="Logo" src="media/logos/menu_logo.svg" class="h-30px" />
        </router-link>
      </div>
      <!--end::Logo-->

      <!--begin::Wrapper-->
      <div
        class="d-flex align-items-stretch justify-content-between flex-lg-grow-1"
      >
        <!--begin::Navbar-->
        <div class="d-flex align-items-stretch" id="kt_header_nav">
          <NavMenu></NavMenu>
        </div>
        <!--end::Navbar-->
        
        <!--begin::Topbar-->
        <div class="d-flex align-items-stretch flex-shrink-0">
          <NavTopbar></NavTopbar>
        </div>
        <!--end::Topbar-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Header-->
</template>

<script lang="ts">
import { defineComponent } from "vue";
import NavTopbar from "@/layout/header/Topbar.vue";
import NavMenu from "@/layout/header/Menu.vue";


export default defineComponent({
  name: "NavBar",
  props: {
    title: String,
  },
  components: {
    NavTopbar,
    NavMenu
  },
});
</script>
