<template>
  <div class="card">
    <div class="card-header border-0 pt-6">
      <!--begin::Card title-->
      <div class="card-title">
        <!--begin::Search-->
        <div class="d-flex align-items-center position-relative my-1">
          <span class="svg-icon svg-icon-1 position-absolute ms-6">
            <inline-svg src="media/icons/duotune/general/gen021.svg" />
          </span>
          <input
            type="text"
            v-model="search"
            @input="searchItems"
            class="form-control form-control-solid w-250px ps-15"
            placeholder="Искать участника"
          />
        </div>
        <!--end::Search-->
      </div>
      <!--begin::Card title-->
      <!--begin::Card toolbar-->
      <div class="card-toolbar"
      v-if="role === 'Supervisor' || role == 'Technical manager'">
        <!--begin::Toolbar-->
        <div
          v-if="checkedUsers.length === 0"
          class="d-flex justify-content-end"
          data-kt-customer-table-toolbar="base"
        >
          <!--begin::Add customer-->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#new_member_modal"
          >
            <span class="svg-icon svg-icon-2">
              <inline-svg src="media/icons/duotune/arrows/arr075.svg" />
            </span>
            Добавить участника
          </button>
          <!--end::Add customer-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Group actions-->
        <div
          v-else
          class="d-flex justify-content-end align-items-center"
          data-kt-customer-table-toolbar="selected"
        >
          <div class="fw-bolder me-5">
            <span class="me-2">{{ checkedUsers.length }}</span
            >Выбрано
          </div>
          <button
            type="button"
            class="btn btn-danger"
            @click="deleteFewUsers"
          >
            Исключить выбранных участников
          </button>
        </div>
        <!--end::Group actions-->
      </div>
      <!--end::Card toolbar-->
    </div>

    <div class="card-body pt-0">
      <Datatable
        :table-data="tableData"
        :table-header="tableHeader"
        :enable-items-per-page-dropdown="true"
      >
        <template v-slot:cell-checkbox="{ row: member }">
          <div
            class="form-check form-check-sm form-check-custom form-check-solid"
          >
            <input
              class="form-check-input"
              type="checkbox"
              :value="member.id"
              v-model="checkedUsers"
            />
          </div>
        </template>
        <template v-slot:cell-first_name="{ row: member }">
          {{ member.first_name }}
        </template>
        <template v-slot:cell-last_name="{ row: member }">
          {{ member.last_name }}
        </template>
        <template v-slot:cell-email="{ row: member }">
          {{ member.email }}
        </template>
        <template v-slot:cell-role="{ row: member }">
          {{ member.role }}
        </template>
        <template v-slot:cell-actions="{ row: member }">
          <div
            class="btn btn-sm btn-light btn-active-light-primary"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-flip="top-end"
          >
            Действия
            <span class="svg-icon svg-icon-5 m-0">
              <inline-svg src="media/icons/duotune/arrows/arr072.svg" />
            </span>
          </div>
          <!--begin::Menu-->
          <div
            class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4"
            data-kt-menu="true"
          >
            <!--begin::Menu item-->
            <div class="menu-item px-3">
              <router-link
                :to="{ path: `/members/member-details/${member.id}` }"
                class="menu-link px-3"
                >Открыть</router-link
              >
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <!--<div class="menu-item px-3">
              <a @click="deleteUser(member.id)" class="menu-link px-3"
                >Удалить</a
              >
            </div>-->
            <!--end::Menu item-->
          </div>
          <!--end::Menu-->
        </template>
      </Datatable>
    </div>
  </div>

  <NewMemberModal />
</template>

<script lang="ts">
import {defineComponent, ref, onMounted, nextTick} from "vue";
import { useStore } from "vuex"
import Datatable from "@/components/datatable/Datatable.vue";
import NewMemberModal from "@/components/modals/NewMemberModal.vue";
import { setCurrentPageBreadcrumbs } from "@/core/helpers/breadcrumb";
import { User } from "@/store/modules/AuthModule";
import {MenuComponent} from "@/assets/ts/components";


export default defineComponent({
  name: "member-listing",
  components: {
    Datatable,
    NewMemberModal
  },
  setup() {
    const store = useStore();

    const checkedUsers = ref([]);
    const tableHeader = ref([
      {
        key: "checkbox",
        sortable: false,
      },
      {
        name: "Имя",
        key: "first_name",
        sortable: true,
      },
      {
        name: "Фамилия",
        key: "last_name",
        sortable: true,
      },
      {
        name: "Почта",
        key: "email",
        sortable: true,
      },
      {
        name: "Роль",
        key: "role",
        sortable: true,
      },
      {
        name: "Действия",
        key: "actions",
      },
    ]);


    const tableData = ref<Array<User>>([]);
    const initUsers = ref<Array<User>>([]);

    onMounted(async () => {
      setCurrentPageBreadcrumbs("Участники", []);

      await store.dispatch('MEMBER_LISTING');

      const members = store.getters.getMembers;
      tableData.value.splice(0, members.length, ...members);
      initUsers.value.splice(0, members.length, ...members);

      nextTick(() => {
        MenuComponent.reinitialization();
      });
    });

    const deleteFewUsers = () => {
      checkedUsers.value.forEach((item) => {
        deleteUser(item);
      });
      checkedUsers.value.length = 0;
    };

    const deleteUser = (id) => {
      for (let i = 0; i < tableData.value.length; i++) {
        if (tableData.value[i].id === id) {
          tableData.value.splice(i, 1);
        }
      }
    };

    const search = ref<string>("");
    const searchItems = () => {
      tableData.value.splice(0, tableData.value.length, ...initUsers .value);
      if (search.value !== "") {
        let results: Array<User> = [];
        for (let j = 0; j < tableData.value.length; j++) {
          if (searchingFunc(tableData.value[j], search.value)) {
            results.push(tableData.value[j]);
          }
        }
        tableData.value.splice(0, tableData.value.length, ...results);
      }
    };

    const searchingFunc = (obj, value): boolean => {
      for (let key in obj) {
        if (!Number.isInteger(obj[key]) && !(typeof obj[key] === "object")) {
          if (obj[key].indexOf(value) != -1) {
            return true;
          }
        }
      }
      return false;
    };

    return {
      tableData,
      tableHeader,
      deleteUser,
      search,
      searchItems,
      checkedUsers,
      deleteFewUsers,
      role: store.getters.currentUser.role,
    };
  },
});
</script>
