<template>
  <!--begin::Layout-->
  <div class="d-flex flex-column flex-lg-row">
    <!--begin::Content-->
    <div class="flex-lg-row-fluid me-lg-15 order-2 order-lg-1 mb-10 mb-lg-0">
      <!--begin::Card-->
      <div class="card card-flush pt-3 mb-5 mb-xl-10">
        <!--begin::Card header-->
        <div class="card-header">
          <!--begin::Card title-->
          <div class="card-title">
            <h2 class="fw-bolder">Профиль участника</h2>
          </div>
          <!--begin::Card title-->
        </div>
        <!--end::Card header-->

        <!--begin::Card body-->
        <div class="card-body pt-3">
          <!--begin::Section-->
          <div class="mb-10">
            <!--begin::Details-->
            <div class="d-flex flex-wrap py-5">
              <!--begin::Row-->
              <div class="flex-equal me-5">
                <!--begin::Details-->
                <table class="table fs-6 fw-bold gs-0 gy-2 gx-2 m-0">
                  <!--begin::Row-->
                  <tr>
                    <td class="text-gray-400">Полное имя:</td>
                    <td class="text-gray-800">{{ member.first_name }} {{ member.last_name }}</td>
                  </tr>
                  <!--end::Row-->

                  <!--begin::Row-->
                  <tr>
                    <td class="text-gray-400">Роль:</td>
                    <td class="text-gray-800">
                      {{ member.role }}
                    </td>
                  </tr>
                  <!--end::Row-->

                  <!--begin::Row-->
                  <tr>
                    <td class="text-gray-400">Должность:</td>
                    <td class="text-gray-800">
                      {{ member.company?.position }}
                    </td>
                  </tr>
                  <!--end::Row-->

                  <!--begin::Row-->
                  <tr>
                    <td class="text-gray-400">Описание:</td>
                    <td class="text-gray-800">
                      {{ member.bio }}
                    </td>
                  </tr>
                  <!--end::Row-->
                </table>
                <!--end::Details-->
              </div>
              <!--end::Row-->

              <!--begin::Row-->
              <div class="flex-equal">
                <!--begin::Details-->
                <table class="table fs-6 fw-bold gs-0 gy-2 gx-2 m-0">
                  <!--begin::Row-->
                  <tr>
                    <td class="text-gray-400 min-w-175px w-175px">Почта:</td>
                    <td class="text-gray-800 min-w-200px">
                      {{ member.email }}
                    </td>
                  </tr>
                  <!--end::Row-->

                   <!--begin::Row-->
                  <tr>
                    <td class="text-gray-400">Номер телефона:</td>
                    <td class="text-gray-800">{{ member.number }}</td>
                  </tr>
                  <!--end::Row-->

                  <!--begin::Row-->
                  <tr>
                    <td class="text-gray-400">Telegram:</td>
                    <td class="text-gray-800">{{ member.contact_telegram }}</td>
                  </tr>
                  <!--end::Row-->

                  <!--begin::Row-->
                  <tr>
                    <td class="text-gray-400">LinkedIn:</td>
                    <td class="text-gray-800">{{ member.contact_telegram }}</td>
                  </tr>
                  <!--end::Row-->
                </table>
                <!--end::Details-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Card body-->
      </div>
      <!--end::Card-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Layout-->
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { useStore } from "vuex";
import { useRoute } from "vue-router"
import { setCurrentPageBreadcrumbs } from "@/core/helpers/breadcrumb";
import { User } from "@/store/modules/AuthModule"

export default defineComponent({
  name: "member-details",
  components: {
  },
  setup() {
    const route = useRoute();
    const store = useStore();

    const member = ref<User>({} as User);

    onMounted(async () => {
      await store.dispatch('GET_MEMBER', route.params.id);

      member.value = store.getters.getMember;

      const fullName = `${member.value.first_name} ${member.value.last_name}`

      setCurrentPageBreadcrumbs(fullName, ["Участники"]);
    });

    return {
      member
    }
  },
});
</script>
