<template>
  <!--begin::details View-->
  <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <!--begin::Card header-->
    <div class="card-header cursor-pointer">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Информация об аккаунте</h3>
      </div>
      <!--end::Card title-->

      <!--begin::Action-->
      <router-link
        to="/account/settings"
        class="btn btn-primary align-self-center"
        >Редактировать</router-link
      >
      <!--end::Action-->
    </div>
    <!--begin::Card header-->

    <!--begin::Card body-->
    <div class="card-body p-9">
      <!--begin::Row-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">Полное имя</label>
        <!--end::Label-->

        <!--begin::Col-->
        <div class="col-lg-8">
          <span class="fw-bolder fs-6 text-dark">{{ user.first_name }} {{ user.last_name }}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

      <!--begin::Input group-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">Должность</label>
        <!--end::Label-->

        <!--begin::Col-->
        <div class="col-lg-8 fv-row">
          <span class="fw-bold fs-6">{{ user.company.position }}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">Описание</label>
        <!--end::Label-->

        <!--begin::Col-->
        <div class="col-lg-8 fv-row">
          <span class="fw-bold fs-6">{{ user.bio }}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">
          Номер телефона
        </label>
        <!--end::Label-->

        <!--begin::Col-->
        <div class="col-lg-8 d-flex align-items-center">
          <span class="fw-bolder fs-6 me-2">{{ user.number }}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->

      <!-- begin::Input group-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">Telegram</label>
        <!--end::Label-->

        <!--begin::Col-->
        <div class="col-lg-8">
          <a :href="user.contact_telegram" target="_blank" class="fw-bold fs-6 text-dark text-hover-primary"
            >{{ user.contact_telegram }}</a>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group -->

       <!-- begin::Input group-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">LinkedIn</label>
        <!--end::Label-->

        <!--begin::Col-->
        <div class="col-lg-8">
          <a :href="user.contact_linkedin" target="_blank" class="fw-bold fs-6 text-dark text-hover-primary"
            >{{ user.contact_linkedin }}</a>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group -->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::details View-->
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue";
import { setCurrentPageBreadcrumbs } from "@/core/helpers/breadcrumb";
import { useStore } from "vuex";


export default defineComponent({
  name: "account-overview",
  setup() {
    const store = useStore();

    onMounted(() => {
      setCurrentPageBreadcrumbs("Об аккаунте", ["Аккаунт"]);
    });

    return {
      user: store.getters.currentUser
    }
  },
});
</script>
