<template>
  <!--begin::Basic info-->
  <div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#kt_account_profile_details"
      aria-expanded="true"
      aria-controls="kt_account_profile_details"
    >
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Настройки профиля</h3>
      </div>
      <!--end::Card title-->
    </div>
    <!--begin::Card header-->

    <!--begin::Content-->
    <div id="kt_account_profile_details" class="collapse show">
      <!--begin::Form-->
      <Form
        id="kt_account_profile_details_form"
        class="form"
        novalidate="novalidate"
        @submit="saveChanges"
        @change="handleFormChange"
        :validation-schema="profileDetailsValidator"
      >
        <!--begin::Card body-->
        <div class="card-body border-top p-9">
          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-bold fs-6">Аватар</label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8">
              <!--begin::Image input-->
              <Field
                name="avatar"
                v-slot="{ handleChange, handleBlur }"
                v-model="profileDetails.avatar"
              >
                <div
                  class="image-input image-input-outline"
                  data-kt-image-input="true"
                  style="background-image: url(media/avatars/blank.png)"
                >
                  <!--begin::Preview existing avatar-->
                  <div
                    class="image-input-wrapper w-125px h-125px"
                    :style="`background-image: url(${avatarUrl})`"
                  ></div>
                  <!--end::Preview existing avatar-->

                  <!--begin::Label-->
                  <label
                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                    data-kt-image-input-action="change"
                    data-bs-toggle="tooltip"
                    title="Изменить аватар"
                  >
                    <i class="bi bi-pencil-fill fs-7"></i>

                    <!--begin::Inputs-->
                    <input
                      type="file"
                      accept=".png, .jpg, .jpeg"
                      @change="handleChange"
                      @blur="handleBlur"
                    />
                    <!--end::Inputs-->
                  </label>
                  <!--end::Label-->

                  <!--begin::Remove-->
                  <span
                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                    data-kt-image-input-action="remove"
                    data-bs-toggle="tooltip"
                    @click="removeImage"
                    title="Удалить аватар"
                  >
                    <i class="bi bi-x fs-2"></i>
                  </span>
                  <!--end::Remove-->
                </div>
              </Field>
              <!--end::Image input-->

              <!--begin::Hint-->
              <div class="form-text">Допустимые форматы: png, jpg, jpeg.</div>
              <!--end::Hint-->

              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="avatar" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label required fw-bold fs-6"
              >Полное имя</label
            >
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8">
              <!--begin::Row-->
              <div class="row">
                <!--begin::Col-->
                <div class="col-lg-6 fv-row">
                  <Field
                    type="text"
                    name="first_name"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="First name"
                    v-model="profileDetails.first_name"
                  />
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="first_name" />
                    </div>
                  </div>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-lg-6 fv-row">
                  <Field
                    type="text"
                    name="last_name"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Last name"
                    v-model="profileDetails.last_name"
                  />
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="last_name" />
                    </div>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Должность</label
            >
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8 fv-row" id="settings_position">
              <Field
                type="text"
                name="position"
                class="form-control form-control-lg form-control-solid"
                v-model="profileDetails.position"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="position" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Описание</label
            >
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <Field
                type="text"
                name="bio"
                class="form-control form-control-lg form-control-solid"
                v-model="profileDetails.bio"
              />
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-bold fs-6">
              <span>Телефон</span>
            </label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <Field
                type="tel"
                name="number"
                class="form-control form-control-lg form-control-solid"
                v-model="profileDetails.number"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="number" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Telegram</label
            >
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <Field
                type="text"
                name="contact_telegram"
                class="form-control form-control-lg form-control-solid"
                v-model="profileDetails.contact_telegram"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="contact_telegram" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >LinkedIn</label
            >
            <!--end::Label-->

            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <Field
                type="text"
                name="contact_linkedin"
                class="form-control form-control-lg form-control-solid"
                v-model="profileDetails.contact_linkedin"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="contact_linkedin" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
        </div>
        <!--end::Card body-->

        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            type="reset"
            class="btn btn-white btn-active-light-primary me-2"
          >
            Отменить
          </button>

          <button
            type="submit"
            id="kt_account_profile_details_submit"
            ref="submitButton"
            class="btn btn-primary"
          >
            <span class="indicator-label"> Сохранить изменения </span>
            <span class="indicator-progress">
              Пожалуйста, подождите...
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>
        </div>
        <!--end::Actions-->
      </Form>
      <!--end::Form-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Basic info-->

  <!--begin::Sign-in Method-->
  <div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#kt_account_signin_method"
    >
      <div class="card-title m-0">
        <h3 class="fw-boldest m-0">Способ авторизации</h3>
      </div>
    </div>
    <!--end::Card header-->

    <!--begin::Content-->
    <div id="kt_account_signin_method" class="collapse show">
      <!--begin::Card body-->
      <div class="card-body border-top p-9">
        <!--begin::Password-->
        <div class="d-flex flex-wrap align-items-center mb-8">
          <div
            id="kt_signin_password"
            :class="{ 'd-none': passwordFormDisplay }"
          >
            <div class="fs-4 fw-boldest mb-1">Пароль</div>
            <div class="fs-6 fw-bold text-gray-600">************</div>
          </div>
          <div
            id="kt_signin_password_edit"
            class="flex-row-fluid"
            :class="{ 'd-none': !passwordFormDisplay }"
          >
            <div class="fs-6 fw-bold text-gray-600 mb-4">
              Пароль должен быть длиной минимум 8 символов
            </div>

            <!--begin::Form-->
            <Form
              id="kt_signin_change_password"
              class="form"
              novalidate="novalidate"
              @submit="updatePassword"
              :validation-schema="changePassword"
            >
              <div class="row mb-6">
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label
                      for="current_password"
                      class="form-label fs-6 fw-bolder mb-3"
                      >Текущий пароль</label
                    >
                    <Field
                      type="password"
                      class="form-control form-control-lg form-control-solid fw-bold fs-6"
                      name="current_password"
                      id="current_password"
                    />
                    <div class="fv-plugins-message-container">
                      <div class="fv-help-block">
                        <ErrorMessage name="current_password" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label
                      for="new_password"
                      class="form-label fs-6 fw-bolder mb-3"
                      >Новый пароль</label
                    >
                    <Field
                      type="password"
                      class="form-control form-control-lg form-control-solid fw-bold fs-6"
                      name="new_password"
                      id="new_password"
                    />
                    <div class="fv-plugins-message-container">
                      <div class="fv-help-block">
                        <ErrorMessage name="new_password" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label
                      for="re_new_password"
                      class="form-label fs-6 fw-bolder mb-3"
                      >Подтвердить пароль</label
                    >
                    <Field
                      type="password"
                      class="form-control form-control-lg form-control-solid fw-bold fs-6"
                      name="re_new_password"
                      id="re_new_password"
                    />
                    <div class="fv-plugins-message-container">
                      <div class="fv-help-block">
                        <ErrorMessage name="re_new_password" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <button
                  id="kt_password_submit"
                  type="submit"
                  ref="updatePasswordButton"
                  class="btn btn-primary me-2 px-6"
                >
                  <span class="indicator-label"> Обновление пароля </span>
                  <span class="indicator-progress">
                    Пожалуйста, подождите...
                    <span
                      class="spinner-border spinner-border-sm align-middle ms-2"
                    ></span>
                  </span>
                </button>
                <button
                  id="kt_password_cancel"
                  type="button"
                  @click="passwordFormDisplay = !passwordFormDisplay"
                  class="btn btn-color-gray-400 btn-active-light-primary px-6"
                >
                  Закрыть
                </button>
              </div>
            </Form>
            <!--end::Form-->
          </div>
          <div
            id="kt_signin_password_button"
            class="ms-auto"
            :class="{ 'd-none': passwordFormDisplay }"
          >
            <button
              @click="passwordFormDisplay = !passwordFormDisplay"
              class="btn btn-light fw-boldest"
            >
              Сменить пароль
            </button>
          </div>
        </div>
        <!--end::Password-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Sign-in Method-->    
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { useStore } from "vuex";
import { ErrorMessage, Field, Form } from "vee-validate";
import { setCurrentPageBreadcrumbs } from "@/core/helpers/breadcrumb";
import * as Yup from "yup";


interface ProfileDetails {
  first_name: string;
  last_name: string;
  bio: string;
  avatar: File | null;
  number: string;
  contact_telegram: string;
  contact_linkedin: string;
  position: string;
}

export default defineComponent({
  name: "account-settings",
  components: {
    ErrorMessage,
    Field,
    Form
  },
  setup() {
    const store = useStore();

    const submitButton = ref<HTMLElement | null>(null);
    const updatePasswordButton = ref<HTMLElement | null>(null);

    const passwordFormDisplay = ref(false);

    const profileDetailsValidator = Yup.object().shape({
      first_name: Yup.string().required().label("Имя"),
      last_name: Yup.string().required().label("Фамилия"),
    });

    const changePassword = Yup.object().shape({
      current_password: Yup.string().required().label("Текущий пароль"),
      new_password: Yup.string().min(8).required().label("Пароль"),
      re_new_password: Yup.string()
        .min(8)
        .required()
        .oneOf([Yup.ref("new_password"), null], "Пароли должны совпадать")
        .label("Повтор пароля"),
    });

    const user = store.getters.currentUser

    let avatarUrl = ref<string>(user.avatar);

    const profileDetails = ref<ProfileDetails>({
      first_name: user.first_name,
      last_name: user.last_name,
      position: user.company.position,
      bio: user.bio,
      number: user.number,
      avatar: null,
      contact_telegram: user.contact_telegram,
      contact_linkedin: user.contact_linkedin
    });

    const saveChanges = async (values, actions) => {
      if (submitButton.value) {
        submitButton.value.setAttribute("data-kt-indicator", "on");

        await store.dispatch('UPDATE_USER', values);

        for (const key in store.getters.getErrors) {
          if (Object.prototype.hasOwnProperty.call(store.getters.getErrors, key)) {
            const message = store.getters.getErrors[key];
            
            actions.setFieldError(key, message);
          }
        }

        submitButton.value?.removeAttribute("data-kt-indicator");
      }
    };

    const handleFormChange = (e) => {
      const file = e.target.files[0];
      avatarUrl.value = URL.createObjectURL(file);
    }

    const updatePassword = async (values, actions) => {
      if (updatePasswordButton.value) {
        updatePasswordButton.value.setAttribute("data-kt-indicator", "on");

        await store.dispatch('SET_PASSWORD', values);

        updatePasswordButton.value?.removeAttribute("data-kt-indicator");

        if (store.getters.status) {
          passwordFormDisplay.value = false;
        } else {
          for (const key in store.getters.getErrors) {
            if (Object.prototype.hasOwnProperty.call(store.getters.getErrors, key)) {
              const message = store.getters.getErrors[key];
              
              actions.setFieldError(key, message);
            }
          }
        }
      }
    };

    const removeImage = async () => {
      const url = '/media/avatars/blank.png';

      const file = await store.dispatch(
        'GET_FILE',
        {
          url,
          name: `${user.first_name} ${user.last_name}`
        }
      );

      profileDetails.value.avatar = file;
      avatarUrl.value = url;
    };

    onMounted(async () => {
      setCurrentPageBreadcrumbs("Настройки", ["Аккаунт"]);

      const file = await store.dispatch(
        'GET_FILE',
        {
          url: user.avatar,
          name: `${user.first_name} ${user.last_name}`
        }
      );

      profileDetails.value.avatar = file;
    });

    return {
      submitButton,
      saveChanges,
      profileDetails,
      passwordFormDisplay,
      removeImage,
      profileDetailsValidator,
      changePassword,
      updatePasswordButton,
      updatePassword,
      avatarUrl,
      handleFormChange,
    };
  },
});
</script>
