<template>
  <!--begin::Menu wrapper-->
  <div
    id="kt_aside_menu_wrapper"
    ref="scrollElRef"
    class="hover-scroll-overlay-y my-5 my-lg-5"
    data-kt-scroll="true"
    data-kt-scroll-activate="{default: false, lg: true}"
    data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer"
    data-kt-scroll-height="auto"
    data-kt-scroll-offset="0"
    data-kt-scroll-wrappers="#kt_aside_menu"
  >
    <!--begin::Menu-->
    <div
      id="#kt_header_menu"
      class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500"
      data-kt-menu="true"
    >
      <div class="menu-item">
        <div class="menu-content">
          <template v-for="question in questions" :key="question.id">
            <div class="menu-item cursor-pointer" @click="setQuestion(question)">
              <h3 class="menu-title">
                {{ question.title }}
              </h3>
            </div>
          </template>
        </div>
      </div>
    </div>
    <!--end::Menu-->
  </div>
  <!--end::Menu wrapper-->
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, computed } from "vue";
import { useStore } from "vuex";


export default defineComponent({
  name: "kt-menu",
  components: {},
  setup() {
    const store = useStore();
    const scrollElRef = ref<null | HTMLElement>(null);

    onMounted(() => {
      if (scrollElRef.value) {
        scrollElRef.value.scrollTop = 0;
      }
    });

    const questions = computed(() => store.getters.currentWorksheet.questions);

    const setQuestion = (question) => {
      store.commit('SET_QUESTION', question);
    }

    return {
      questions,
      setQuestion
    }
  },
});
</script>
