<template>
  <!--begin::Modal - New Card-->
  <div
    class="modal fade"
    ref="newMemberModalRef"
    id="new_member_modal"
    tabindex="-1"
    aria-hidden="true"
  >
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header">
          <!--begin::Modal title-->
          <h2>Добавить участника</h2>
          <!--end::Modal title-->

          <!--begin::Close-->
          <div
            class="btn btn-sm btn-icon btn-active-color-primary"
            data-bs-dismiss="modal"
          >
            <span class="svg-icon svg-icon-1">
              <inline-svg src="media/icons/duotune/arrows/arr061.svg" />
            </span>
          </div>
          <!--end::Close-->
        </div>
        <!--end::Modal header-->

        <!--begin::Modal body-->
        <div class="modal-body scroll-y mx-5 mx-xl-15 my-1">
          <!--begin::Form-->
          <Form
            id="kt_modal_new_position_form"
            class="form"
            @submit="onSubmitNewMember"
            :validation-schema="creatingMember"
          >
            <!--begin::Input group-->
            <div class="row fv-row mb-7">
              <!--begin::Col-->
              <div class="col-xl-6">
                <label class="required form-label fw-bolder text-dark fs-6">Имя</label>
                <Field
                  class="form-control form-control-lg form-control-solid"
                  type="text"
                  placeholder=""
                  name="first_name"
                  autocomplete="off"
                />
                <div class="fv-plugins-message-container">
                  <div class="fv-help-block">
                    <ErrorMessage name="first_name" />
                  </div>
                </div>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="col-xl-6">
                <label class="required form-label fw-bolder text-dark fs-6">Фамилия</label>
                <Field
                  class="form-control form-control-lg form-control-solid"
                  type="text"
                  placeholder=""
                  name="last_name"
                  autocomplete="off"
                />
                <div class="fv-plugins-message-container">
                  <div class="fv-help-block">
                    <ErrorMessage name="last_name" />
                  </div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-7">
              <label class="required form-label fw-bolder text-dark fs-6">Почта</label>
              <Field
                class="form-control form-control-lg form-control-solid"
                type="email"
                placeholder=""
                name="email"
                autocomplete="off"
                
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="email" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="mb-10 fv-row" data-kt-password-meter="true">
              <!--begin::Wrapper-->
              <div class="mb-1">
                <!--begin::Label-->
                <label class="required form-label fw-bolder text-dark fs-6">Пароль</label>
                <!--end::Label-->

                <!--begin::Input wrapper-->
                <div class="position-relative mb-3">
                  <Field
                    class="form-control form-control-lg form-control-solid"
                    type="password"
                    placeholder=""
                    name="password"
                    autocomplete="off"
                  />
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="password" />
                    </div>
                  </div>
                </div>
                <!--end::Input wrapper-->
                <!--begin::Meter-->
                <div
                  class="d-flex align-items-center mb-3"
                  data-kt-password-meter-control="highlight"
                >
                  <div
                    class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"
                  ></div>
                  <div
                    class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"
                  ></div>
                  <div
                    class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"
                  ></div>
                  <div
                    class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"
                  ></div>
                </div>
                <!--end::Meter-->
              </div>
              <!--end::Wrapper-->
              <!--begin::Hint-->
              <div class="text-muted">
                Пароль должен состоять не менее, чем из 8 символов
              </div>
              <!--end::Hint-->
            </div>
            <!--end::Input group--->

            <!--begin::Input group-->
            <div class="fv-row mb-5">
              <label class="required form-label fw-bolder text-dark fs-6"
                >Подтвердите пароль</label
              >
              <Field
                class="form-control form-control-lg form-control-solid"
                type="password"
                placeholder=""
                name="re_password"
                autocomplete="off"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="re_password" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-5">
              <label class="required form-label fw-bolder text-dark fs-6">Роль</label>
               <Field
                  name="role"
                  class="form-select form-select-solid"
                  as="select"
                >
                  <option v-if="user.role === 'Supervisor'" key="HR" value="HR"> HR </option>
                  <option v-if="user.role === 'Supervisor'" key="Technical manager" value="Technical manager"> Технический менеджер </option>
                  <option v-if="user.role === 'Technical manager'" key="Technical expert" value="Technical expert"> Технический специалист </option>
                </Field>
                <div class="fv-plugins-message-container">
                  <div class="fv-help-block">
                    <ErrorMessage name="role" />
                  </div>
                </div>
            </div>

            <!--begin::Actions-->
            <div class="text-center pt-15">
              <button
                type="reset"
                id="kt_modal_new_member_cancel"
                class="btn btn-white me-3"
              >
                Отменить
              </button>

              <button
                ref="submitButtonRef"
                type="submit"
                id="kt_modal_new_member_submit"
                class="btn btn-primary"
              >
                <span class="indicator-label"> Сохранить </span>
                <span class="indicator-progress">
                  Пожалуйста, подождите...
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>
              </button>
            </div>
            <!--end::Actions-->
          </Form>
          <!--end::Form-->
        </div>
        <!--end::Modal body-->
      </div>
      <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
  </div>
  <!--end::Modal - New Card-->
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { ErrorMessage, Field, Form } from "vee-validate";
import { hideModal } from "@/core/helpers/dom";
import * as Yup from "yup";
import { useStore } from "vuex";

export default defineComponent({
  name: "new-position-modal",
  components: {
    ErrorMessage,
    Field,
    Form,
  },
  setup() {
    const store = useStore();
    const submitButtonRef = ref<null | HTMLButtonElement>(null);
    const newMemberModalRef = ref<null | HTMLElement>(null);

    const creatingMember = Yup.object().shape({
      first_name: Yup.string().required().label("Имя"),
      last_name: Yup.string().required().label("Фамилия"),
      email: Yup.string().required().email().label("Почта"),
      password: Yup.string().required().label("Пароль"),
      re_password: Yup.string()
        .required()
        .oneOf([Yup.ref("password"), null], "Пароли должны совпадать")
        .label("Подтверждение пароля"),
      role: Yup.string().required().label('Роль'),
    });

    const onSubmitNewMember = async (values, actions) => {
      // eslint-disable-next-line
      submitButtonRef.value!.disabled = true;

      // Activate indicator
      submitButtonRef.value?.setAttribute("data-kt-indicator", "on");

      await store.dispatch('CREATE_MEMBER', values);

      for (const key in store.getters.getErrors) {
        if (Object.prototype.hasOwnProperty.call(store.getters.getErrors, key)) {
          const message = store.getters.getErrors[key];

          actions.setFieldError(key, message);
        }
      }

      if (store.getters.status) {
        hideModal(newMemberModalRef.value);
      }

      submitButtonRef.value?.removeAttribute("data-kt-indicator");
      // eslint-disable-next-line
      submitButtonRef.value!.disabled = false;
    };

    return {
      creatingMember,
      onSubmitNewMember,
      submitButtonRef,
      newMemberModalRef,
      user: store.getters.currentUser
    };
  },
});
</script>
