<template>
  <!--begin::Modal - New Card-->
  <div
    class="modal fade"
    ref="newPositionModalRef"
    id="new_position_modal"
    tabindex="-1"
    aria-hidden="true"
  >
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header">
          <!--begin::Modal title-->
          <h2>Добавить позицию</h2>
          <!--end::Modal title-->

          <!--begin::Close-->
          <div
            class="btn btn-sm btn-icon btn-active-color-primary"
            data-bs-dismiss="modal"
          >
            <span class="svg-icon svg-icon-1">
              <inline-svg src="media/icons/duotune/arrows/arr061.svg" />
            </span>
          </div>
          <!--end::Close-->
        </div>
        <!--end::Modal header-->

        <!--begin::Modal body-->
        <div class="modal-body scroll-y mx-5 mx-xl-15 my-1">
          <!--begin::Form-->
          <Form
            id="kt_modal_new_position_form"
            class="form"
            @submit="onSubmitNewPosition"
            :validation-schema="creatingPosition"
          >
            <!--begin::Input group-->
            <div class="fv-row mb-5">
              <label class="required fs-5 fw-bold form-label mb-2 ms-2">Название</label>
              <Field
                class="form-control form-control-lg form-control-solid"
                type="text"
                placeholder=""
                name="title"
                autocomplete="off"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="title" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-5">
              <label class="required fs-5 fw-bold form-label mb-2 ms-2">Требуемый опыт</label>
              <Field
                class="form-control form-control-lg form-control-solid"
                type="text"
                placeholder=""
                name="skill"
                autocomplete="off"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="skill" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-5">
              <label class="required fs-5 fw-bold form-label mb-2 ms-2">Тип занятости</label>
              <Field
                class="form-control form-control-lg form-control-solid"
                type="text"
                placeholder=""
                name="type_of_employment"
                autocomplete="off"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="type_of_employment" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-5">
              <label class="required fs-5 fw-bold form-label mb-2 ms-2">Обязанности</label>
              <Field
                class="form-control form-control-lg form-control-solid"
                type="text"
                placeholder=""
                name="responsibilities"
                autocomplete="off"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="responsibilities" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-5">
              <label class="required fs-5 fw-bold form-label mb-2 ms-2">Требования</label>
              <Field
                class="form-control form-control-lg form-control-solid"
                type="text"
                placeholder=""
                name="requirements"
                autocomplete="off"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="requirements" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-5">
              <label class="fs-5 fw-bold form-label mb-2 ms-2">Условия</label>
              <Field
                class="form-control form-control-lg form-control-solid"
                type="text"
                placeholder=""
                name="terms"
                autocomplete="off"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="terms" />
                </div>
              </div>
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            
            <div class="fv-row mb-5">
              <label class="required fs-5 fw-bold form-label mb-2 ms-2">Приоритет</label>
               <Field
                  name="priority"
                  class="form-select form-select-solid"
                  as="select"
                  type="radio"
                >
                  <option key="High" value="High"> Высокий </option>
                  <option key="Medium" value="Medium"> Средний </option>
                  <option key="Low" value="Low"> Низкий </option>
                  <option key="Default" value="Default"> Отсутствует </option>
                </Field>
            </div>

            <!--begin::Actions-->
            <div class="text-center pt-15">
              <button
                type="reset"
                id="kt_modal_new_position_cancel"
                class="btn btn-white me-3"
              >
                Отменить
              </button>

              <button
                ref="submitButtonRef"
                type="submit"
                id="kt_modal_new_position_submit"
                class="btn btn-primary"
              >
                <span class="indicator-label"> Сохранить </span>
                <span class="indicator-progress">
                  Пожалуйста, подождите...
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>
              </button>
            </div>
            <!--end::Actions-->
          </Form>
          <!--end::Form-->
        </div>
        <!--end::Modal body-->
      </div>
      <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
  </div>
  <!--end::Modal - New Card-->
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { ErrorMessage, Field, Form } from "vee-validate";
import { MenuComponent } from "@/assets/ts/components";
import { hideModal } from "@/core/helpers/dom";
import * as Yup from "yup";
import { useStore } from "vuex";

export default defineComponent({
  name: "new-position-modal",
  components: {
    ErrorMessage,
    Field,
    Form,
  },
  setup() {
    const store = useStore();
    const submitButtonRef = ref<null | HTMLButtonElement>(null);
    const newPositionModalRef = ref<null | HTMLElement>(null);

    const creatingPosition = Yup.object().shape({
      title: Yup.string().required().label("Название"),
      skill: Yup.string().required().label("Требуемый опыт"),
      type_of_employment: Yup.string().required().label("Тип занятости"),
      responsibilities: Yup.string().required().label("Обязанности"),
      requirements: Yup.string().required().label("Требования"),
      terms: Yup.string().label("Условия"),
      priority: Yup.string().label("Приоритет"),
    });

    const onSubmitNewPosition = async (values, actions) => {
      // eslint-disable-next-line
      submitButtonRef.value!.disabled = true;

      // Activate indicator
      submitButtonRef.value?.setAttribute("data-kt-indicator", "on");
      values["company"] = store.getters.currentUser.company.company;
      await store.dispatch('CREATE_POSITION', values);

      for (const key in store.getters.getErrors) {
        if (Object.prototype.hasOwnProperty.call(store.getters.getErrors, key)) {
          const message = store.getters.getErrors[key];

          actions.setFieldError(key, message);
        }
      }

      if (store.getters.status) {
        hideModal(newPositionModalRef.value);

        MenuComponent.reinitialization();
      }

      submitButtonRef.value?.removeAttribute("data-kt-indicator");
      // eslint-disable-next-line
      submitButtonRef.value!.disabled = false;
    };

    return {
      creatingPosition,
      onSubmitNewPosition,
      submitButtonRef,
      newPositionModalRef,
    };
  },
});
</script>
