<template>
  <!--begin::Modal - New Card-->
  <div
    class="modal fade"
    ref="updatePositionModalRef"
    id="update_question_modal"
    tabindex="-1"
    aria-hidden="true"
  >
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header">
          <!--begin::Modal title-->
          <h2>Изменить вопрос</h2>
          <!--end::Modal title-->

          <!--begin::Close-->
          <div
            class="btn btn-sm btn-icon btn-active-color-primary"
            data-bs-dismiss="modal"
          >
            <span class="svg-icon svg-icon-1">
              <inline-svg src="media/icons/duotune/arrows/arr061.svg" />
            </span>
          </div>
          <!--end::Close-->
        </div>
        <!--end::Modal header-->

        <!--begin::Modal body-->
        <div class="modal-body scroll-y mx-5 mx-xl-15 my-1">
          <!--begin::Form-->
          <Form
            id="kt_modal_new_position_form"
            class="form"
            @submit="onSubmitUpdateQuestion"
            :validation-schema="updatingQuestion"
          >
            <!--begin::Input group-->
            <div
            class="fv-row mb-5">
              <label class="required fs-5 fw-bold form-label mb-2 ms-2">Название</label>
              <Field
                class="form-control form-control-lg form-control-solid"
                type="text"
                placeholder=""
                name="title"
                autocomplete="off"
                v-model="questionDetails.title"

              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="title" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div
            class="fv-row mb-5"
            >
              <label class="required fs-5 fw-bold form-label mb-2 ms-2">Текст</label>
              <Field
                class="form-control form-control-lg form-control-solid"
                type="text"
                placeholder=""
                name="text"
                autocomplete="off"
                v-model="questionDetails.text"

              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="text" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Actions-->
            <div class="text-center pt-15">
              <button
                type="reset"
                id="kt_modal_new_position_cancel"
                class="btn btn-white me-3"
              >
                Стереть
              </button>

              <button
                ref="submitButtonRef"
                type="submit"
                id="kt_modal_new_position_submit"
                class="btn btn-primary"
              >
                <span class="indicator-label"> Сохранить </span>
                <span class="indicator-progress">
                  Пожалуйста, подождите...
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>
              </button>
            </div>
            <!--end::Actions-->
          </Form>
          <!--end::Form-->
        </div>
        <!--end::Modal body-->
      </div>
      <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
  </div>
  <!--end::Modal - New Card-->
</template>

<script lang="ts">
import {defineComponent, ref, computed} from "vue";
import { ErrorMessage, Field, Form } from "vee-validate";
import { hideModal } from "@/core/helpers/dom";
import * as Yup from "yup";
import { useStore } from "vuex";
import { useRoute } from "vue-router";
import {setCurrentPageBreadcrumbs} from "@/core/helpers/breadcrumb";

export default defineComponent({
  name: "new-position-modal",
  components: {
    ErrorMessage,
    Field,
    Form,
  },
  setup() {
    const store = useStore();
    const route = useRoute();

    const submitButtonRef = ref<null | HTMLButtonElement>(null);
    const updatePositionModalRef = ref<null | HTMLElement>(null);

    const updatingQuestion = Yup.object().shape({
      title: Yup.string().required().label("Название"),
      description: Yup.string().label("Описание"),
    });

    const onSubmitUpdateQuestion = async (values, actions) => {
      // eslint-disable-next-line
      submitButtonRef.value!.disabled = true;

      // Activate indicator
      submitButtonRef.value?.setAttribute("data-kt-indicator", "on");

      store.dispatch('UPDATE_QUESTION', {
        data: values,
        id: store.getters.currentQuestion.id,
      })

      for (const key in store.getters.getErrors) {
        if (Object.prototype.hasOwnProperty.call(store.getters.getErrors, key)) {
          const message = store.getters.getErrors[key];

          actions.setFieldError(key, message);
        }
      }

      if (store.getters.status) {
        hideModal(updatePositionModalRef.value);
        setCurrentPageBreadcrumbs(values.title, ["Анкеты"]);
      }

      submitButtonRef.value?.removeAttribute("data-kt-indicator");
      // eslint-disable-next-line
      submitButtonRef.value!.disabled = false;
    };

    const questionDetails = computed(() => {
      const data = store.getters.currentQuestion;

      return {
        title: data.title,
        text: data.text,
      };
    });

    return {
      questionDetails,
      updatingQuestion,
      onSubmitUpdateQuestion,
      submitButtonRef,
      updatePositionModalRef,
    };
  },
});
</script>
