<template>
  <div
    class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
    style="background: #E0EDFF"
  >
    <!--begin::Content-->
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
      <!--begin::Logo-->
      <a class="mb-12">
        <img alt="Logo" src="media/logos/auth_logo.png" class="h-45px" />
      </a>
      <!--end::Logo-->

      <router-view></router-view>
    </div>
    <!--end::Content-->
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, onUnmounted, watch, ref } from "vue";
import { useRouter, useRoute } from "vue-router";
import { useStore } from "vuex";

import { Actions } from "@/store/enums/StoreEnums";

export default defineComponent({
  name: "candidate-auth-page-layout",
  components: {},
  setup() {
    const router = useRouter();
    const store = useStore();
    const route = useRoute();

    const id = ref(route.params.id);

    watch(
      () => store.getters.isUserAuthenticated,
      () => {
        if (store.getters.isUserAuthenticated) {
          router.push({ path: `/candidate/${id.value}/worksheet-complete` });
        } else if (route.name === 'worksheet-complete' ) {
          router.push({ path: `/candidate/${id.value}/sign-in` });
        }
      }
    );

    onMounted(async () => {
      await store.dispatch("VERIFY_AUTH");

      if (store.getters.isUserAuthenticated) {
        router.push({ path: `/candidate/${id.value}/worksheet-complete` });
      } else if (route.name === 'worksheet-complete' ) {
        router.push({ path: `/candidate/${id.value}/sign-in` });
      }

      store.dispatch(Actions.ADD_BODY_CLASSNAME, "bg-body");
    });

    onUnmounted(() => {
      store.dispatch(Actions.REMOVE_BODY_CLASSNAME, "bg-body");
    });

    return {
      id
    }
  },
});
</script>
