<template>
  <!--begin::Card-->
  <div class="card h-100" :class="cardClasses">
    <!--begin::Card header-->
    <div class="card-header flex-nowrap border-0 pt-9">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <!--begin::Title-->
        <div class="fs-3 fw-bolder text-dark" title="Почта">
          {{ title }}
        </div>
        <!--end::Title-->
      </div>
      <!--end::Card title-->

      <!--begin::Card toolbar-->
      <div class="card-toolbar m-0">
        <!--begin::Menu-->
        <button
          type="button"
          class="btn btn-clean btn-sm btn-icon btn-icon-primary btn-active-light-primary me-n3"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
          data-kt-menu-flip="top-end"
        >
          <span class="svg-icon svg-icon-3 svg-icon-primary">
            <inline-svg src="media/icons/duotune/general/gen024.svg" />
          </span>
        </button>

        <!--begin::Menu-->
        <div
          class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-150px py-4"
          data-kt-menu="true"
          v-if="role === 'HR' || role === 'Supervisor'"
        >
          <!--begin::Menu item-->
          <div
          class="menu-item px-3"
          >
            <a @click="deleteAnswer" class="menu-link px-3"
              >Удалить</a
            >
          </div>
          <!--end::Menu item-->
        </div>
        <!--end::Menu-->
      </div>
      <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body d-flex flex-column px-9 pt-6 pb-8">
      <!--begin::Heading-->
      <div class="fs-1tx mb-3">
        {{ content }}
      </div>
      <!--end::Heading-->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->

</template>

<script lang="ts">
import { defineComponent, computed, onMounted, nextTick } from "vue";
import { MenuComponent } from "@/assets/ts/components";
import { useStore } from "vuex";
import { useRoute } from "vue-router";

export default defineComponent({
  name: "card-answer",
  components: {
  },
  props: {
    cardClasses: String,

    title: String,

    content: String,

    clearFunc: Function
  },
  setup(props) {
    const store = useStore();
    const route = useRoute();

    onMounted(() => {
      nextTick(() => {
        MenuComponent.reinitialization();
      });
    })

    const deleteFunc = async (id) => {
      await store.dispatch('DELETE_ANSWER', { id: id, worksheetID: route.params.id });

      if (store.getters.status && props.clearFunc) {
        props.clearFunc(id);
      }
    }

    const deleteAnswer = async () => {
      let text = "Вы уверены, что хотите удалить ответ кандидата?\n";

      if (confirm(text)) {
        await deleteFunc(store.getters.currentAnswer.id);
        store.commit('SET_QUESTION', null);
      }
    };

    return {
      deleteAnswer,
      role: store.getters.currentUser.role,
    }
  }
});
</script>
