<template>
  <!--begin::Card-->
  <div class="card">
    <!--begin::Card body-->
    <div class="card-body p-0">
      <!--begin::Heading-->
      <div class="card-px py-20 my-10">
        <!--begin::Title-->
        <h2 class="fs-2x text-center fw-bolder mb-10">{{ title }}</h2>
        <!--end::Title-->

        <!--begin::Description-->
        <p class="text-gray-400 text-center fs-5 fw-bold mb-13">
          <span v-html="description"></span>
        </p>
        <!--end::Description-->
        
        <!--begin::Form-->
      
        <!--begin::Input group-->
        <div class="fv-row mb-10">
          <!--begin::Label-->
          <label class="form-label fs-6 fw-bolder text-dark">Ваш ответ</label>
          <!--end::Label-->

          <!--begin::Input-->
          <Field
            class="form-control form-control-lg form-control-solid"
            type="text"
            :name="`${id}`"
            autocomplete="off"
          />
          <!--end::Input-->
          <div class="fv-plugins-message-container">
            <div class="fv-help-block">
              <ErrorMessage name="email" />
            </div>
          </div>
        </div>
        <!--end::Input group-->
      </div>
      <!--end::Heading-->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { ErrorMessage, Field } from "vee-validate";


export default defineComponent({
  name: "modal-card",
  props: {
    id: Number,
    title: String,
    description: String,
  },
  components: {
    ErrorMessage, 
    Field,
  },
});
</script>
