<template>
  <!--begin::Card-->
  <div class="card h-100" :class="cardClasses">
    <!--begin::Card header-->
    <div class="card-header flex-nowrap border-0 pt-9">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <!--begin::Title-->
        <div class="fs-3 fw-bolder text-dark" title="Заголовок">
          {{ title }}
        </div>
        <!--end::Title-->
      </div>
      <!--end::Card title-->

      <!--begin::Card toolbar-->
      <div class="card-toolbar m-0">
        <!--begin::Card toolbar-->
        <div class="card-toolbar mx-4">
          <span
            class="badge fw-bolder me-auto px-4 py-3 badge-light-primary"
            >{{ getTech }}</span
          >
        </div>
        <!--end::Card toolbar-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
          <span
            :class="getBadgeColor"
            class="badge fw-bolder me-auto px-4 py-3"
            >{{ getStatus }}</span
          >
        </div>
        <!--end::Card toolbar-->

        <!--begin::Menu-->
        <button
          type="button"
          class="btn btn-clean btn-sm btn-icon btn-icon-primary btn-active-light-primary me-n3"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
          data-kt-menu-flip="top-end"
        >
          <span class="svg-icon svg-icon-3 svg-icon-primary">
            <inline-svg src="media/icons/duotune/general/gen024.svg" />
          </span>
        </button>

        <!--begin::Menu-->
        <div
          class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-150px py-4"
          data-kt-menu="true"
        >
        <!--begin::Menu item-->
          <div class="menu-item px-3">
            <a class="menu-link px-3"
            data-bs-toggle="modal"
            data-bs-target="#update_question_modal"
            v-if="role === 'Technical manager' ||
            role === 'Technical expert' ||
            role === 'HR' && getTech === 'Обычный' ||
            role === 'Supervisor' && getTech === 'Обычный'"
            >Изменить</a>
          </div>
          <!--end::Menu item-->
          <!--begin::Menu item-->
          <div
          class="menu-item px-3"
          v-if="role === 'HR' || role === 'Supervisor'"
          >
            <a @click="deleteQuestion" class="menu-link px-3"
              >Удалить</a
            >
          </div>
          <!--end::Menu item-->
        </div>
        <!--end::Menu-->
      </div>
      <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body d-flex flex-column px-9 pt-6 pb-8">
      <!--begin::Heading-->
      <div class="fs-1tx mb-3">
        {{ content }}
      </div>
      <!--end::Heading-->

      <!--begin::Stats-->
      <div class="d-flex align-items-center flex-wrap mb-5 mt-auto fs-6">
        <!--begin::Number-->
        <div class="fw-bolder me-2">
          Автор:
        </div>
        <!--end::Number-->

        <!--begin::Label-->
        <div class="fw-bold text-gray-400 mx-5">
          {{ footerText }}
        </div>
        <!--end::Label-->

        <!--begin::Icon-->
        <router-link :to="getUrl">
          <div
            class="symbol symbol-35px symbol-circle"
            data-bs-toggle="tooltip"
          >
            <img v-if="icon" alt="Pic" :src="icon" />
          </div>
        </router-link>
        <!--end::Icon-->
      </div>
      <!--end::Stats-->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->
  <UpdateQuestionModal></UpdateQuestionModal>
</template>

<script lang="ts">
import { defineComponent, computed, onMounted, nextTick } from "vue";
import { MenuComponent } from "@/assets/ts/components";
import { useStore } from "vuex";
import { useRoute } from "vue-router";
import UpdateQuestionModal from "@/components/modals/UpdateQuestionModal.vue";

export default defineComponent({
  name: "card-question",
  components: {
    UpdateQuestionModal,
  },
  props: {
    cardClasses: String,

    icon: String,

    authorID: Number,

    title: String,

    content: String,

    footerData: String,

    footerText: String,

    status: String,

    tech: String,
  },
  setup(props) {
    const store = useStore();
    const route = useRoute();

    onMounted(() => {
      nextTick(() => {
        MenuComponent.reinitialization();
      });
    })

    const getBadgeColor = computed(() => {
      if (props.status) {
        return "badge-light-success";
      }
      return "badge-light-danger"
    });

    const getStatus = computed(() => {
      return props.status ? 'Заполнен' : 'Пусто'
    })

    const getTech = computed(() => {
      return props.tech ? 'Технический' : 'Обычный'
    })

    const getUrl = computed(() => {
      const user = store.getters.currentUser;
      return user.id === props.authorID ? '/account/overview'
      : `/members/member-details/${props.authorID}`;
    })

    const deleteFunc = async (id) => {
      await store.dispatch('DELETE_QUESTION', { id: id, worksheetID: route.params.id });
    }

    const deleteQuestion = async () => {
      let text = "Вы уверены, что хотите удалить вопрос?\n";

      if (confirm(text)) {
        await deleteFunc(store.getters.currentQuestion.id);
        store.commit('SET_QUESTION', null);
      }
    };

    return {
      getBadgeColor,
      getStatus,
      getUrl,
      getTech,
      deleteQuestion,
      role: store.getters.currentUser.role,
    }
  }
});
</script>
