<template>
  <router-link :to="getUrl">
    <!--begin::Card-->
    <a class="card border border-2 border-gray-300 border-hover">
      <!--begin::Card header-->
      <div class="card-header border-0 pt-9">
        <!--begin::Card Title-->
        <div class="card-title m-0">
          <!--begin::Avatar-->
          <!-- <div class="symbol symbol-50px w-50px bg-light">
            <img :src="icon" alt="image" class="p-3" />
          </div> -->
          <!--end::Avatar-->

          <!--begin::Name-->
          <router-link :to="`/positions/position-details/${positionID}`">
            <div class="fs-3 fw-bolder text-dark" title="Вакансия">
              {{ title }}
            </div>
          </router-link>
          <!--end::Name-->
        </div>
        <!--end::Car Title-->

        <!--begin::Card toolbar-->
        <div class="card-toolbar">
          <span
            :class="getStatusDataBadgeColor"
            class="badge fw-bolder me-auto px-4 py-3"
            >{{ getStatus }}</span
          >
        </div>
        <!--end::Card toolbar-->
      </div>
      <!--end:: Card header-->

      <!--begin:: Card body-->
      <div class="card-body p-9">
        <!--begin::Name-->
        <div class="fs-3 fw-bolder text-dark">
          {{ subtitle }}
        </div>
        <!--end::Name-->

        <!--begin::Description-->
        <p class="text-gray-400 fw-bold fs-5 mt-1 mb-7">
          {{ getDescription }}
        </p>
        <!--end::Description-->

        <!--begin::Info-->
        <div class="d-flex flex-wrap mb-5">
          <!--begin::Due-->
          <div
            class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-7 mb-3"
          >
            <div class="fs-6 text-gray-800 fw-bolder">{{ getDate }}</div>
            <div class="fw-bold text-gray-400">Дата создания</div>
          </div>
          <!--end::Due-->
        </div>
        <!--end::Info-->

        <!--begin::Progress-->
        <div
          class="h-4px w-100 bg-light mb-5"
          data-bs-toggle="tooltip"
          :title="`Технические вопросы на ${progress}% заполнены`"
        >
          <div
            :class="getStatusDataColor"
            class="rounded h-4px"
            role="progressbar"
            :style="{ width: progress + `%` }"
            :aria-valuenow="progress"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <!--end::Progress-->

        <template v-if="users">
          <!--begin::Users-->
          <div class="symbol-group symbol-hover">
            <template v-for="(user, index) in users" :key="index">
              <!--begin::User-->
              <router-link :to="`/members/member-details/${user.id}`">
                <div
                  class="symbol symbol-35px symbol-circle"
                  data-bs-toggle="tooltip"
                  :title="`${user.first_name} ${user.last_name}`"
                >
                  <img v-if="user.avatar" alt="Pic" :src="user.avatar" />
                </div>
              </router-link>
              <!--begin::User-->
            </template>
          </div>
          <!--end::Users-->
        </template>
      </div>
      <!--end:: Card body-->
    </a>
    <!--end::Card-->
  </router-link>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";

export default defineComponent({
  name: "card-1",
  components: {},
  props: {
    id: Number,

    positionID: Number,

    progress: Number,

    statusDataColor: String,

    status: String,

    icon: String,

    title: String,

    subtitle: String,

    description: String,

    date: String,

    users: Array,
  },
  setup(props) {
    const getDescription = computed(() => {
      return props.description
    });

    const getDate = computed(() => {
      return props.date;
    });

    const getStatus = computed(() => {
      return props.status ? props.status : "Default";
    });

    const getStatusDataBadgeColor = computed(() => {
      switch(props.status) {
        case 'High':
          return "badge-light-danger";
        case 'Medium':
          return "badge-light-primary";
        case 'Low':
          return "badge-light-success";
        default:
          return "badge-light"
      }
    });

    const getStatusDataColor = computed(() => {
      return props.statusDataColor ? props.statusDataColor : "bg-primary";
    });

    const getUrl = computed(() => `/worksheets/worksheet-details/${props.id}`)

    return {
      getDescription,
      getDate,
      getStatus,
      getStatusDataBadgeColor,
      getStatusDataColor,
      getUrl
    };
  },
});
</script>
