<template>
  <div class="text-center">
    <h2 class="text-dark mb-10">Подтверждение аккаунта</h2>

    <button
      type="submit"
      class="btn btn-lg btn-primary"
      @click="confirm"
    >
      <span class="indicator-label">Подтвердить</span>
      <span class="indicator-progress">
        Пожалуйста, подождите...
        <span
          class="spinner-border spinner-border-sm align-middle ms-2"
        ></span>
      </span>
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useStore } from "vuex";
import { useRoute } from "vue-router"

export default defineComponent({
  name: "auth-activation",
  setup() {
    const route = useRoute();
    const store = useStore();

    const confirm = () => {
      const credentials = {
        uid: route.params.uid,
        token: route.params.token
      }

      store.dispatch('ACTIVATION', credentials)
    };

    return {
      confirm
    }
  }
});
</script>
