<template>
  <!--begin::Dashboard-->
  <h1 class="h-45px">Добро пожаловать в HR project!</h1>
  <h2 class="h-40px">Удачного пользования сервисом!</h2>
    <!--<div class="col-xxl-8">
      <TableWidget9
        widget-classes="card-xxl-stretch mb-5 mb-xl-8"
      ></TableWidget9>
    </div>
    <div class="col-xxl-4">
      <ListWidget
        widget-classes="card-xl-stretch mb-xl-8">
      </ListWidget>
    </div>-->
  <!--end::Dashboard-->
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue";
import TableWidget9 from "@/components/widgets/tables/Widget9.vue";
import ListWidget from "@/components/widgets/ListWidget.vue";
import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";

export default defineComponent({
  name: "main-dashboard",
  components: {
  },
  setup() {
    onMounted(() => {
      setCurrentPageTitle("Главная");
    });
  },
});
</script>
