<template>
  <!--begin::Layout-->
  <div class="d-flex flex-column flex-xl-row">
    <!--begin::Sidebar-->
    <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
      <!--begin::Card-->
      <div class="card mb-5 mb-xl-8">
        <!--begin::Card body-->
        <div class="card-body">
          <!--begin::Details toggle-->
          <div class="d-flex flex-stack fs-4">
            <div
              class="fw-bolder rotate collapsible"
              data-bs-toggle="collapse"
              href="#kt_customer_view_details"
              role="button"
              aria-expanded="false"
              aria-controls="kt_customer_view_details"
            >
              Детали
              <span class="ms-2 rotate-180">
                <span class="svg-icon svg-icon-3">
                  <inline-svg src="media/icons/duotune/arrows/arr072.svg" />
                </span>
              </span>
            </div>

            <span
              data-bs-toggle="tooltip"
              data-bs-trigger="hover"
              title="Edit customer details"
            >
              <a
                href="#"
                class="btn btn-sm btn-light-primary"
                data-bs-toggle="modal"
                data-bs-target="#update_position_modal"
                v-if="role === 'Supervisor'"
              >
                Изменить
              </a>
            </span>
          </div>
          <!--end::Details toggle-->

          <div class="separator separator-dashed my-3"></div>

          <!--begin::Details content-->
          <div id="kt_customer_view_details" class="collapse show">
            <div class=" fs-6">
              <!--begin::Details item-->
              <div class="fw-bolder mt-5">Название</div>
              <div class="text-gray-600">{{ position.title }}</div>
              <!--begin::Details item-->
              <!--begin::Details item-->
              <div class="fw-bolder mt-5">Требуемый опыт</div>
              <div class="text-gray-600">
                {{ position.skill }}
              </div>
              <!--begin::Details item-->
              <!--begin::Details item-->
              <div class="fw-bolder mt-5">Тип занятости</div>
              <div class="text-gray-600">
                {{ position.type_of_employment }}
              </div>
              <!--begin::Details item-->
              <!--begin::Details item-->
              <div class="fw-bolder mt-5">Обязанности</div>
              <div class="text-gray-600">{{ position.responsibilities }}</div>
              <!--begin::Details item-->
              <!--begin::Details item-->
              <div class="fw-bolder mt-5">Требования</div>
              <div class="text-gray-600">{{ position.requirements }}</div>
              <!--begin::Details item-->
              <!--begin::Details item-->
              <div class="fw-bolder mt-5">Условия</div>
              <div class="text-gray-600">{{ position.terms }}</div>
              <!--begin::Details item-->
              <!--begin::Details item-->
              <div class="fw-bolder mt-5">Приоритет</div>
              <div class="text-gray-600">{{ position.priority }}</div>
              <!--begin::Details item-->
            </div>
          </div>
          <!--end::Details content-->
        </div>
        <!--end::Card body-->
      </div>
      <!--end::Card-->
    </div>
    <!--end::Sidebar-->

    <!--begin::Content-->
    <div class="flex-lg-row-fluid ms-lg-15">
      <!--begin:::Tabs-->
      <!--<ul
        class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-8"
      >-->
        <!--begin:::Tab item-->
        <!--<li class="nav-item ms-auto">-->
          <!--begin::Action menu-->
          <!--<a
            href="#"
            class="btn btn-primary ps-7"
            data-kt-menu-trigger="click"
            data-kt-menu-attach="parent"
            data-kt-menu-placement="bottom-end"
          >
            Actions
            <span class="svg-icon svg-icon-2 me-0">
              <inline-svg src="media/icons/duotune/arrows/arr072.svg" />
            </span>
          </a>
          <Dropdown3></Dropdown3>-->
          <!--end::Menu-->
        <!--</li>-->
        <!--end:::Tab item-->
      <!--</ul>-->
      <!--end:::Tabs-->

      <!--begin:::Tab content-->
      <div class="tab-content" id="myTabContent">
        <!--begin:::Tab pane-->
        <div
          class="tab-pane fade show active"
          id="kt_customer_view_overview_tab"
          role="tabpanel"
        >
          <div card-classes="mb-6 mb-xl-9">
  <div class="card">
    <div class="card-header border-0 pt-6">
      <!--begin::Card title-->
      <div class="card-title">
        <!--begin::Search-->
        <div class="d-flex align-items-center position-relative my-1">
          <span class="svg-icon svg-icon-1 position-absolute ms-6">
            <inline-svg src="media/icons/duotune/general/gen021.svg" />
          </span>
          <input
            type="text"
            v-model="search"
            @input="searchItems"
            class="form-control form-control-solid w-250px ps-15"
            placeholder="Искать анкету"
          />
        </div>
        <!--end::Search-->
      </div>
      <!--begin::Card title-->
      <!--begin::Card toolbar-->
      <div class="card-toolbar"
      v-if="role === 'Supervisor' || role === 'HR'"
      >
        <!--begin::Toolbar-->
        <div
          v-if="checkedPositions.length === 0"
          class="d-flex justify-content-end"
          data-kt-customer-table-toolbar="base"

        >
          <!--begin::Add customer-->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#new_worksheet_modal"
          >
            <span class="svg-icon svg-icon-2">
              <inline-svg src="media/icons/duotune/arrows/arr075.svg" />
            </span>
            Добавить анкету
          </button>
          <!--end::Add customer-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Group actions-->
        <div
          v-else
          class="d-flex justify-content-end align-items-center"
          data-kt-customer-table-toolbar="selected"
        >
          <div class="fw-bolder me-5">
            <span class="me-2">{{ checkedPositions.length }}</span
            >Выбрано
          </div>
          <button
            type="button"
            class="btn btn-danger"
            @click="deleteFewPositions"
          >
            Удалить выбранные вакансии
          </button>
        </div>
        <!--end::Group actions-->
      </div>
      <!--end::Card toolbar-->
    </div>

    <div class="card-body pt-0">
      <Datatable
        :table-data="tableData"
        :table-header="tableHeader"
        :enable-items-per-page-dropdown="true"
      >
        <template v-slot:cell-checkbox="{ row: position }"
        v-if="role === 'Supervisor'"
        >
          <div
            class="form-check form-check-sm form-check-custom form-check-solid"
          >
            <input
              class="form-check-input"
              type="checkbox"
              :value="position.id"
              v-model="checkedPositions"
            />
          </div>
        </template>
        <template v-slot:cell-title="{ row: position }">
          {{ position.title }}
        </template>
        <template v-slot:cell-author="{ row: position }">
          {{ position.author.first_name }} {{ position.author.last_name }}
        </template>
        <template v-slot:cell-email="{ row: position }">
          {{ position.author.email }}
        </template>
        <template v-slot:cell-status="{ row: position }">
          {{ getStatus(position.opened) }}
        </template>
        <template v-slot:cell-created_date="{ row: position }">
          {{ position.created_date }}
        </template>
        <template v-slot:cell-actions="{ row: position }">
          <div
            class="btn btn-sm btn-light btn-active-light-primary"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-flip="top-end"
          >
            Действия
            <span class="svg-icon svg-icon-5 m-0">
              <inline-svg src="media/icons/duotune/arrows/arr072.svg" />
            </span>
          </div>
          <!--begin::Menu-->
          <div
            class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-200px py-4"
            data-kt-menu="true"
          >
            <!--begin::Menu item-->
            <div class="menu-item px-3">
              <router-link
                :to="{ path: `/worksheets/worksheet-details/${position.id}` }"
                class="menu-link px-3"
                >Открыть</router-link
              >
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3">
              <a @click="openWorksheet(position.id)" class="menu-link px-3"
              v-if="role === 'Supervisor' || role === 'HR'"
                >{{ getActionStatus(position.opened) }} для кандидатов</a
              >
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3"
              v-if="role === 'Supervisor'">
              <a @click="deletePosition(position.id)" class="menu-link px-3"
                >Удалить</a
              >
            </div>
            <!--end::Menu item-->
          </div>
          <!--end::Menu-->
        </template>
      </Datatable>
    </div>
  </div>
          </div>
        </div>
        <!--end:::Tab pane-->
      </div>
      <!--end:::Tab content-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Layout-->
  <UpdatePositionModal></UpdatePositionModal>
  <NewWorksheetModal></NewWorksheetModal>
</template>

<script lang="ts">
import {defineComponent, onMounted, ref, computed, nextTick, watch} from "vue";
import { useStore } from "vuex";
import { useRoute } from "vue-router"
import Datatable from "@/components/datatable/Datatable.vue";
import NewWorksheetModal from "@/components/modals/NewWorksheetModal.vue";
import { setCurrentPageBreadcrumbs } from "@/core/helpers/breadcrumb";
// import Dropdown3 from "@/components/dropdown/Dropdown3.vue";
import UpdatePositionModal from "@/components/modals/UpdatePositionModal.vue";
import {MenuComponent} from "@/assets/ts/components";
import {IWorksheet} from "@/store/modules/WorksheetModule";


export default defineComponent({
  name: "position-details",
  components: {
    UpdatePositionModal,
    NewWorksheetModal,
    Datatable,
    // Dropdown3,
  },
  setup() {
    const route = useRoute()
    const store = useStore();

    const checkedPositions = ref([]);
    const tableHeader = ref([
      {
        key: "checkbox",
        sortable: false,
      },
      {
        name: "Название",
        key: "title",
        sortable: true,
      },
      {
        name: "Автор",
        key: "author",
        sortable: true,
      },
      {
        name: "Email автора",
        key: "email",
        sortable: true,
      },
      {
        name: "Статус",
        key: "status",
        sortable: true,
      },
      {
        name: "Дата создания",
        key: "created_date",
        sortable: true,
      },
      {
        name: "Действия",
        key: "actions",
      },
    ]);

    const tableData = ref<Array<IWorksheet>>([]);
    const initPositions = ref<Array<IWorksheet>>([]);

    watch(
        () => store.getters.currentPosition,
        () => {
          const worksheets = store.getters.currentPosition.worksheets;

          tableData.value.splice(0, worksheets.length, ...worksheets);
          initPositions.value.splice(0, worksheets.length, ...worksheets);
        }
    );

    const openWorksheet = async (id) => {
        await store.dispatch('OPEN_WORKSHEET', {id: id, positionID: route.params.id} );
    };

    const deleteFunc = async (id) => {
      await store.dispatch('DELETE_WORKSHEET', id);

      if (store.getters.status) {
        const index = tableData.value.findIndex((item) => item.id === id);
        tableData.value.splice(index, 1);
      }
    }

    const deleteFewPositions = () => {
      let text = "Вы уверены, что хотите удалить выбранные вакансии?\n";

      if (confirm(text)) {
        checkedPositions.value.forEach(async (item) => {
          await deleteFunc(item);
        });
        checkedPositions.value.length = 0;
      }
    };

    const deletePosition = async (id) => {
      let text = "Вы уверены, что хотите удалить вакансию?\n";

      if (confirm(text)) {
        await deleteFunc(id);
      }
    };

    const search = ref<string>("");
    const searchItems = () => {
      tableData.value.splice(0, tableData.value.length, ...initPositions .value);
      if (search.value !== "") {
        let results: Array<IWorksheet> = [];
        for (let j = 0; j < tableData.value.length; j++) {
          if (searchingFunc(tableData.value[j], search.value)) {
            results.push(tableData.value[j]);
          }
        }
        tableData.value.splice(0, tableData.value.length, ...results);
      }
    };

    const searchingFunc = (obj, value): boolean => {
      for (let key in obj) {
        if (!Number.isInteger(obj[key]) && !(typeof obj[key] === "object")) {
          if (obj[key].indexOf(value) != -1) {
            return true;
          }
        }
      }
      return false;
    };


    const position = computed(() => store.getters.currentPosition);

    onMounted(async () => {
      await store.dispatch('GET_POSITION', route.params.id);

      setCurrentPageBreadcrumbs(position.value.title, ["Вакансии"]);

      nextTick(() => {
        MenuComponent.reinitialization();
      });
    });

    const getStatus = (status: boolean) => {
      return status ? "Открыта" : "Закрыта";
    }

    const getActionStatus = (status: boolean) => {
      return !status ? "Открыть" : "Закрыть";
    }

    return {
      tableData,
      tableHeader,
      position,
      search,
      searchItems,
      checkedPositions,
      openWorksheet,
      deleteFewPositions,
      getStatus,
      deletePosition,
      getActionStatus,
      role: store.getters.currentUser.role,
    };
  },
});
</script>
