<template>
  <div class="card">
    <div class="card-header border-0 pt-6">
      <!--begin::Card title-->
      <div class="card-title">
        <!--begin::Search-->
        <div class="d-flex align-items-center position-relative my-1">
          <span class="svg-icon svg-icon-1 position-absolute ms-6">
            <inline-svg src="media/icons/duotune/general/gen021.svg" />
          </span>
          <input
            type="text"
            v-model="search"
            @input="searchItems"
            class="form-control form-control-solid w-250px ps-15"
            placeholder="Искать вакансию"
          />
        </div>
        <!--end::Search-->
      </div>
      <!--begin::Card title-->
      <!--begin::Card toolbar-->
      <div class="card-toolbar"
      v-if="role === 'Supervisor'"
      >
        <!--begin::Toolbar-->
        <div
          v-if="checkedPositions.length === 0"
          class="d-flex justify-content-end"
          data-kt-customer-table-toolbar="base"
        >
          <!--begin::Add customer-->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#new_position_modal"
          >
            <span class="svg-icon svg-icon-2">
              <inline-svg src="media/icons/duotune/arrows/arr075.svg" />
            </span>
            Добавить вакансию
          </button>
          <!--end::Add customer-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Group actions-->
        <div
          v-else
          class="d-flex justify-content-end align-items-center"
          data-kt-customer-table-toolbar="selected"
        >
          <div class="fw-bolder me-5">
            <span class="me-2">{{ checkedPositions.length }}</span
            >Выбрано
          </div>
          <button
            type="button"
            class="btn btn-danger"
            @click="deleteFewPositions"
          >
            Удалить выбранные вакансии
          </button>
        </div>
        <!--end::Group actions-->
      </div>
      <!--end::Card toolbar-->
    </div>

    <div class="card-body pt-0">
      <Datatable
        :table-data="tableData"
        :table-header="tableHeader"
        :enable-items-per-page-dropdown="true"
      >
        <template v-slot:cell-checkbox="{ row: position }"
          v-if="role === 'Supervisor'">
          <div
            class="form-check form-check-sm form-check-custom form-check-solid"
          >
            <input
              class="form-check-input"
              type="checkbox"
              :value="position.id"
              v-model="checkedPositions"
            />
          </div>
        </template>
        <template v-slot:cell-title="{ row: position }">
          {{ position.title }}
        </template>
        <template v-slot:cell-priority="{ row: position }">
          {{ position.priority }}
        </template>
        <template v-slot:cell-status="{ row: position }">
          {{ getActionStatus(position.status) }}
        </template>
        <template v-slot:cell-created_date="{ row: position }">
          {{ position.created_date }}
        </template>
        <template v-slot:cell-actions="{ row: position }">
          <div
            class="btn btn-sm btn-light btn-active-light-primary"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-flip="top-end"
          >
            Действия
            <span class="svg-icon svg-icon-5 m-0">
              <inline-svg src="media/icons/duotune/arrows/arr072.svg" />
            </span>
          </div>
          <!--begin::Menu-->
          <div
            class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-150px py-4"
            data-kt-menu="true"
          >
            <!--begin::Menu item-->
            <div class="menu-item px-3">
              <router-link
                :to="{ path: `/positions/position-details/${position.id}` }"
                class="menu-link px-3"
                >Открыть</router-link
              >
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3"
            v-if="role === 'Supervisor'"
            >
              <a @click="openPosition(position.id)" class="menu-link px-3"
                >Открыть для HR</a
              >
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3"
            v-if="role === 'Supervisor'"
            >
              <a @click="closePosition(position.id)" class="menu-link px-3"
                >Архивировать</a
              >
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3"
            v-if="role === 'Supervisor'"
            >
              <a @click="deletePosition(position.id)" class="menu-link px-3"
                >Удалить</a
              >
            </div>
            <!--end::Menu item-->
          </div>
          <!--end::Menu-->
        </template>
      </Datatable>
    </div>
  </div>

  <AddPositionModal></AddPositionModal>
</template>

<script lang="ts">
import {defineComponent, ref, onMounted, nextTick, watch } from "vue";
import { useStore } from "vuex"
import Datatable from "@/components/datatable/Datatable.vue";
import AddPositionModal from "@/components/modals/NewPositionModal.vue";
import { setCurrentPageBreadcrumbs } from "@/core/helpers/breadcrumb";
import { IPosition } from "@/store/modules/PositionModule";
import { MenuComponent } from "@/assets/ts/components";

export default defineComponent({
  name: "position-listing",
  components: {
    Datatable,
    AddPositionModal,
  },
  setup() {
    const store = useStore();

    const checkedPositions = ref([]);
    const tableHeader = ref([
      {
        key: "checkbox",
        sortable: false,
      },
      {
        name: "Название вакансии",
        key: "title",
        sortable: true,
      },
      {
        name: "Приоритет",
        key: "priority",
        sortable: true,
      },
      {
        name: "Статус",
        key: "status",
        sortable: true,
      },
      {
        name: "Дата создания",
        key: "created_date",
        sortable: true,
      },
      {
        name: "Действия",
        key: "actions",
      },
    ]);


    const tableData = ref<Array<IPosition>>([]);
    const initPositions = ref<Array<IPosition>>([]);

    watch(
      () => store.getters.getPositions,
      () => {
        const positions = store.getters.getPositions;

        tableData.value.splice(0, positions.length, ...positions);
        initPositions.value.splice(0, positions.length, ...positions);
      }
    );

    onMounted(async () => {
      setCurrentPageBreadcrumbs("Вакансии", []);

      await store.dispatch('POSITION_LISTING');

      nextTick(() => {
        MenuComponent.reinitialization();
      });
    });

    const openPosition = async (id) => {
      for (let i = 0; i < tableData.value.length; i++) {
        if (tableData.value[i].id === id) {
          await store.dispatch('OPEN_POSITION', id);
        }
      }
    };

    const closePosition = async (id) => {
      for (let i = 0; i < tableData.value.length; i++) {
        if (tableData.value[i].id === id) {
          await store.dispatch('CLOSE_POSITION', id);
        }
      }
    };

    const deleteFunc = async (id) => {
      await store.dispatch('DELETE_POSITION', id);

      if (store.getters.status) {
        const index = tableData.value.findIndex((item) => item.id === id);
        tableData.value.splice(index, 1);
      }
    }

    const deleteFewPositions = () => {
      let text = "Вы уверены, что хотите удалить выбранные вакансии?\n";

      if (confirm(text)) {
        checkedPositions.value.forEach(async (item) => {
          await deleteFunc(item);
        });
        checkedPositions.value.length = 0;
      }
    };

    const deletePosition = async (id) => {
      let text = "Вы уверены, что хотите удалить вакансию?\n";

      if (confirm(text)) {
        await deleteFunc(id);
      }
    };

    const search = ref<string>("");
    const searchItems = () => {
      tableData.value.splice(0, tableData.value.length, ...initPositions .value);
      if (search.value !== "") {
        let results: Array<IPosition> = [];
        for (let j = 0; j < tableData.value.length; j++) {
          if (searchingFunc(tableData.value[j], search.value)) {
            results.push(tableData.value[j]);
          }
        }
        tableData.value.splice(0, tableData.value.length, ...results);
      }
    };

    const searchingFunc = (obj, value): boolean => {
      for (let key in obj) {
        if (!Number.isInteger(obj[key]) && !(typeof obj[key] === "object")) {
          if (obj[key].indexOf(value) != -1) {
            return true;
          }
        }
      }
      return false;
    };

    const getActionStatus = (status: string) => {
      if (status == "Active")
        return "Активная"
      else if (status == "Opened")
        return "Открыта";
      else if (status == "Closed")
        return "Закрыта";
      else
        return status;
    }

    return {
      tableData,
      tableHeader,
      openPosition,
      closePosition,
      deletePosition,
      search,
      searchItems,
      checkedPositions,
      deleteFewPositions,
      getActionStatus,
      role: store.getters.currentUser.role,
    };
  },
});
</script>
