<template>
  <!--begin::Page loader-->
  <template>
    <div class="page-loader">
      <span class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
    </div>
  </template>
  <!--end::Page Loader-->
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "theme-loader",
});
</script>
