<template>
  <!--begin::Toolbar-->
  <div class="d-flex flex-wrap flex-stack my-5">
    <!--begin::Heading-->
    <h2 class="fs-2 fw-bold my-2">
      Анкеты
      <span class="fs-6 text-gray-400 ms-1">по приоритету вакансий</span>
    </h2>
    <!--end::Heading-->

    <!--begin::Controls-->
    <div class="d-flex flex-wrap my-1">
      <!--begin::Select wrapper-->
      <div class="m-0">
        <!--begin::Select-->
        <select
          name="priority"
          data-hide-search="true"
          v-model="priorityControl"
          class="form-select form-select-white form-select-sm fw-bolder w-125px"
        >
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
          <option value="Default" selected>Default</option>
        </select>
        <!--end::Select-->
      </div>
      <!--end::Select wrapper-->
    </div>
    <!--end::Controls-->
  </div>
  <!--end::Toolbar-->

  <!--begin::Row-->
  <div class="row g-6 g-xl-9">
    <!--begin::Col-->
    <div
      v-for="worksheet in worksheets"
      :key="worksheet.id"
      class="col-md-6 col-xl-4"
    >
      <Card
        :id="worksheet.id"
        :positionID="worksheet.position.id"
        :status="worksheet.position.priority"
        :progress="getProgress(worksheet)"
        :title="worksheet.position.title"
        :subtitle="worksheet.title"
        :description="worksheet.description"
        :date="worksheet.created_date"
        :users="getTechUsers(worksheet)"
      />
    </div>
    <!--end::Col-->
  </div>
  <!--end::Row-->
</template>

<script lang="ts">
import { defineComponent, onMounted, computed, ref } from "vue";
import { useStore } from "vuex";
import Card from "@/components/cards/WorksheetCard.vue";
import { setCurrentPageBreadcrumbs } from "@/core/helpers/breadcrumb";
import { IWorksheet, IQuestion } from "@/store/modules/WorksheetModule"
import { User } from "@/store/modules/AuthModule";

export default defineComponent({
  name: "profile-projects",
  components: {
    Card,
  },
  setup() {
    const store = useStore();

    let priorityControl = ref('Default');

    const worksheets = computed(() => {
      const list = store.getters.getWorksheets;

      return list.filter((item: IWorksheet) => {
        if (priorityControl.value === 'Default' ||
          item.position.priority === priorityControl.value) {
            return item;
        }
      })
    });

    const getTechUsers = (worksheet: IWorksheet) => {
      return worksheet.questions
        .filter((question: IQuestion) => question.is_tech && question.filled)
        .map((question: IQuestion) => question.author)
        .filter((author: User | null, index: number, self: (User | null)[]) => {
          return index === self.findIndex((item: User | null) => item?.id === author?.id);
        });
    };

    const getProgress = (worksheet: IWorksheet) => {
      const techQuestionsFilledAmount = worksheet.questions.filter((question: IQuestion) => question.is_tech && question.filled).length;
      const techQuestionAmount = worksheet.questions.filter((question: IQuestion) => question.is_tech).length;

      if (!techQuestionAmount) {
        return 100;
      }

      return techQuestionsFilledAmount / techQuestionAmount * 100;
    };

    onMounted(async () => {
      setCurrentPageBreadcrumbs("Мои анкеты", ["Аккаунт"]);

      await store.dispatch('WORKSHEET_LISTING');
    });

    return {
      worksheets,
      priorityControl,
      getTechUsers,
      getProgress
    };
  },
});
</script>
