<template>
  <div class="container pt-10">
    <div class="d-flex flex-column flex-lg-row-fluid">
      <Form
        class="form w-100"
        id="answers_form"
        @submit="onSubmitLogin"
      >
        <div class="col-12 my-10" v-for="question in questions" :key="question.id">
          <Card
            :id="question.id"
            :title="question.title"
            :description="question.text"
          />
        </div>

        <!--begin::Actions-->
        <div class="text-center">
          <!--begin::Submit button-->
          <button
            type="submit"
            ref="submitButton"
            id="kt_sign_in_submit"
            class="btn btn-lg btn-primary mb-5"
          >
            <span class="indicator-label"> Отправить </span>

            <span class="indicator-progress">
              Пожалуйста, подождите...
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>
          <!--end::Submit button-->
        </div>
        <!--end::Actions-->
      </Form>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from "vue";
import { useStore } from "vuex";
import { useRoute, useRouter } from "vue-router";
import { Form } from "vee-validate";
import Card from "@/components/cards/QuestionCandidateCard.vue";


export default defineComponent({
  name: 'worksheet-complete',
  components: {
    Card,
    Form
  },
  setup() {
    const store = useStore();
    const route = useRoute();
    const router = useRouter();

    const questions = computed(() => store.getters.getQuestions);

    onMounted(async () => {
      await store.dispatch('QUESTION_CANDIDATE_LISTING', route.params.id);
    });

    const submitButton = ref<HTMLButtonElement | null>(null);

    const onSubmitLogin = async (values) => {
      if (submitButton.value) {
        submitButton.value.disabled = true;
        submitButton.value.setAttribute("data-indicator", "on");
      }

      let answer: Array<{ id: string; text: string}> = [];
      for (const key in values) {
        if (Object.prototype.hasOwnProperty.call(values, key)) {
          const element = values[key];
          
          answer.push({
            id: key,
            text: element
          })
        }
      }

      const data = {
        values: answer,
        id: route.params.id
      }
      await store.dispatch('ANSWER', data);
      store.dispatch('LOGOUT');

      if (submitButton.value) {
        submitButton.value.removeAttribute("data-indicator");
        submitButton.value.disabled = false;
      }
    };

    return {
      questions,
      onSubmitLogin,
      submitButton
    }
  }
});
</script>
