<template>
  <!--begin::Layout-->
  <div class="d-flex flex-xl-row">
    <div class="flex-lg-row-auto">
      <Menu />
    </div>

    <!--begin::Content-->
    <div class="flex-lg-row-fluid ms-lg-15">
      <!--begin:::Tabs-->
      <ul
        class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-8"
      >
        <h2></h2>
        <!--begin:::Tab item-->
        <li class="nav-item ms-auto">
          <!--begin::Action menu-->
          <a
            href="#"
            class="btn btn-primary ps-7"
            data-kt-menu-trigger="click"
            data-kt-menu-attach="parent"
            data-kt-menu-placement="bottom-end"
            v-if="role === 'Supervisor' || role === 'HR'"
          >
            Действия
            <span class="svg-icon svg-icon-2 me-0">
              <inline-svg src="media/icons/duotune/arrows/arr072.svg" />
            </span>
          </a>
          

          <!--begin::Menu-->
          <div
            class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-150px py-4"
            data-kt-menu="true"
          >
          <!--begin::Menu item-->
            <div class="menu-item px-3">
              <a class="menu-link px-3"
                data-bs-toggle="modal"
                data-bs-target="#new_question_modal"
                >Создать вопрос</a
              >
            </div>
            <!--end::Menu item-->
          <!--begin::Menu item-->
            <div class="menu-item px-3"
                data-bs-toggle="modal"
                data-bs-target="#update_worksheet_modal">
              <a class="menu-link px-3"
                >Изменить анкету</a
              >
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3">
              <a @click="deleteWorksheet(worksheet.id)" class="menu-link px-3"
                >Удалить анкету</a
              >
            </div>
            <!--end::Menu item-->
          </div>
          <!--end::Menu-->
        </li>
        <!--end:::Tab item-->
      </ul>
      <!--end:::Tabs-->

      <!--begin:::Tab content-->
      <div class="tab-content" id="myTabContent">
        <div class="flex-column flex-lg-row-fluid mb-10" v-if="question">
          <div class="row">
            <!--begin::Col-->
            <div class="col-6">
              <QuestionCard
                v-if="question"
                :id="question.id"
                :title="question.title"
                :content="question.text"
                :status="question.filled"
                :footerText="`${question.author.first_name} ${question.author.last_name}`"
                :icon="question.author.avatar"
                :authorID="question.author.id"
                :tech="question.is_tech"
              />
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-6">
              <AnswerCard
                v-if="answer"
                :id="answer.id"
                :title="answer.candidate.email"
                :content="answer.text"
                :clearFunc="clearAnswer"
              />
            </div>
            <!--end::Col-->
          </div>
        </div>

        <!--begin:::Tab pane--> 
        <div
          class="tab-pane fade show active"
          id="kt_customer_view_overview_tab"
          role="tabpanel"
        >
          <!--begin::Card-->
          <div class="card pt-4 mb-6 mb-xl-9">
            <!--begin::Card header-->
            <div class="card-header border-0">
              <!--begin::Card title-->
              <div class="card-title">
                <h2>Кандидаты</h2>
              </div>
              <!--end::Card title-->
            </div>
            <!--end::Card header-->

            <!--begin::Card body-->
            <div class="card-body pt-0 pb-5">
              <Datatable
                :table-header="tableHeader"
                :table-data="tableData"
                :rows-per-page="5"
                :enable-items-per-page-dropdown="false"
              >
                <template v-slot:cell-candidate="{ row: payment }">
                  {{ payment.candidate.first_name }} {{ payment.candidate.last_name }}
                </template>
                <template v-slot:cell-email="{ row: payment }">
                  {{ payment.candidate.email }}
                </template>
                <template v-slot:cell-question="{ row: payment }">
                  {{ payment.question.title }}
                </template>
                <template v-slot:cell-answer="{ row: payment }">
                  {{ payment.text }}
                </template>
                <template v-slot:cell-actions="{ row: payment }">
                  <a
                    class="btn btn-sm btn-light btn-active-light-primary"
                    data-kt-menu-trigger="click"
                    data-kt-menu-placement="bottom-end"
                    data-kt-menu-flip="top-end"
                    >Действия
                    <span class="svg-icon svg-icon-5 m-0">
                      <inline-svg src="media/icons/duotune/arrows/arr072.svg" />
                    </span>
                  </a>
                  <!--begin::Menu-->
                  <div
                    class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4"
                    data-kt-menu="true"
                  >
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                      <a @click="showAnswer(payment)" class="menu-link px-3"
                        >Посмотреть</a
                      >
                    </div>
                    <!--end::Menu item-->
                  </div>
                  <!--end::Menu-->
                </template>
              </Datatable>
            </div>
            <!--end::Card body-->
          </div>
          <!--end::Card-->
        </div>
        <!--end:::Tab pane-->
      </div>
      <!--end:::Tab content-->
    </div>
    <!--end::Content-->
  </div>
  <UpdateWorksheetModal></UpdateWorksheetModal>
  <NewQuestionModal></NewQuestionModal>

  <!--end::Layout-->
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, computed, watch, nextTick } from "vue";
import { useStore } from "vuex";
import { useRoute, useRouter } from "vue-router"
import { setCurrentPageBreadcrumbs } from "@/core/helpers/breadcrumb";
import Datatable from "@/components/datatable/Datatable.vue";
import QuestionCard from "@/components/cards/QuestionCard.vue";
import AnswerCard from "@/components/cards/AnswerCard.vue";
import Menu from "@/components/menu/MenuContainer.vue";
import UpdateWorksheetModal from "@/components/modals/UpdateWorksheetModal.vue";
import NewQuestionModal from "@/components/modals/NewQuestionModal.vue";
import { IAnswer } from "@/store/modules/WorksheetModule"
import { MenuComponent } from "@/assets/ts/components";


export default defineComponent({
  name: "worksheet-details",
  components: {
    Datatable,
    UpdateWorksheetModal,
    NewQuestionModal,
    QuestionCard,
    AnswerCard,
    Menu
  },
  setup() {
    const route = useRoute()
    const router = useRouter()
    const store = useStore();

    const worksheet = computed(() => store.getters.currentWorksheet);
    const question = computed(() => store.getters.currentQuestion);
    const answer = computed(() => store.getters.currentAnswer);

    onMounted(async () => {
      await store.dispatch('GET_WORKSHEET', route.params.id);

      setCurrentPageBreadcrumbs(worksheet.value.title, ["Анкеты"]);

      nextTick(() => {
        MenuComponent.reinitialization();
      });
    });

    const tableHeader = ref([
      {
        name: "Кандидат",
        key: "candidate",
        sortable: true,
      },
      {
        name: "Почта кандидата",
        key: "email",
        sortable: true,
      },
      {
        name: "Вопрос",
        key: "question",
        sortable: true,
      },
      {
        name: "Ответ",
        key: "answer",
        sortable: true,
      },
      {
        name: "Actions",
        key: "actions",
        sortable: false,
      },
    ]);

    const deleteFunc = async (id) => await store.dispatch('DELETE_WORKSHEET', id);

    const deleteWorksheet = async (id) => {
      let text = "Вы уверены, что хотите удалить анкету?\n";

      if (confirm(text)) {
        const id = worksheet.value.position.id;
        await deleteFunc(route.params.id);
        router.push({ path: `/positions/position-details/${id}` });
      }
    };

    const tableData = ref<Array<IAnswer>>([]);
    const initPositions = ref<Array<IAnswer>>([]);

    watch(
        () => store.getters.currentWorksheet,
        () => {
          const answers = store.getters.currentWorksheet.answers;

          tableData.value.splice(0, answers.length, ...answers);
          initPositions.value.splice(0, answers.length, ...answers);
        }
    );

    const clearAnswer = (id) => {
      const index = tableData.value.findIndex((item) => item.id === id);
      tableData.value.splice(index, 1);
    }

    const showAnswer = (answer: IAnswer) => {
      store.commit('SET_QUESTION', answer.question);
      store.commit('SET_ANSWER', answer);
    }

    return {
      worksheet,
      question,
      tableHeader,
      tableData,
      deleteWorksheet,
      role: store.getters.currentUser.role,
      showAnswer,
      answer,
      clearAnswer
    };
  },
});
</script>
